$container: 1300px;
$height-header: 120px;

// color
$white: #fff;
$black: #000000;
$black-300: #040404;
$grey-300: #e6e6e6;
$grey-100: #f6f6f6;
$primary-color: #e81e61;

// text-color
$text-primary: #040404;
$text-secondary: #9c9c9c;

//font-size
$small: 12px;
$nomal: 14px;
$medium: 16px;
$large: 24px;
$very-large: 36px;

// spacing
$space-xxxs: 4px;
$space-xxs: 8px;
$space-xs: 12px;
$space-sm: 16px;
$space-md: 20px;
$space-lg: 24px;
$space-xl: 28px;
$space-xxl: 32px;
$space-xxxl: 36px;
$space-xxxxl: 40px;
